<fieldset>
  <label>Debe ingresar el Rut del Alumno: </label>
  <input type="number" (click)="rRut($event)">
</fieldset>
<fieldset>
  <label>Debe ingresar el Nombre del Alumno: </label>
  <input type="text" (click)="rNombre($event)">
</fieldset>
<fieldset>
  <label>Debe ingresar el Apellido del Alumno: </label>
  <input type="text" (click)="rApellido">
</fieldset>
<fieldset>
  <label>Debe ingresar la edad del Alumno: </label>
  <input type="number" (click)="rEdad($event)">
</fieldset>
<fieldset>
  <label>Seleccione la seccion: </label>
  <select></select>
</fieldset>
